body {
    margin: 0;
    font-family: "Saira", sans-serif;
}
.display-flex {
    display: flex;
}
.width-50 {
    width: 50%;
    padding: 0px 30px;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, rgb(253, 101, 54), rgb(245, 37, 0));
    padding: 10px 14px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px px rgb(245, 37, 0);
    cursor: pointer;
}
.default-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6e6e6e;
}
.section-heading {
    font-size: 42px;
    font-weight: 700;
    color: #474747;
}
.top-section {
    padding: 80px;
}
.top-section .content {
    margin-top: 40px;
}
.top-section h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #474747;
}
#special-word {
    color: red;
}

.top-section img {
    height: 500px;
    width: 100%;
}
.about-section {
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 60px 0px 60px;
}
.about-section .content {
    margin-top: 30px;
}
.about-section .content h1 {
    margin-bottom: 12px;
}
.about-section img {
    height: 100%;
}
.width-33 {
    width: 33%;
    padding: 0 30px;
}
.section-wrapper {
    padding: 30px 60px;
    text-align: center;
}
.section-wrapper h1 {
    margin-bottom: 20px;
}
.card-group {
    margin-top: 60px;
}
.card {
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgb(212, 212, 212);
}
.card img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
}
.card .card-body h2 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.why-choose-us-section {
    margin-bottom: 60px;
}
.why-choose-us-section .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(55deg, #c91e27, #f23252);
}
.why-choose-us-section .card .card-img img {
    height: 150px;
    width: 70%;
    margin-top: 100px;
}
#contact-us-section {
    background-image: url(img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-form {
    width: 50%;
    margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
    display: block;
    margin: 20px 0;
    padding: 10px 14px;
    width: 100%;
    outline: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fce2d2;
    font-size: 14px;
}
.contact-form input[type="submit"] {
    margin-left: 10px;
}

.sm-follower {
    margin-top: 60px;
    padding: 60px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgb(212, 212, 212);
}
.sm-follower .fl-width-33 {
    width: 33%;
}
.sm-follower h1 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 12px;
    line-height: 20px;
}
.sm-follower span {
    color: #6e6e6e;
}
footer {
    margin-top: 40px;
    background-color: #1d1d1d;
}
footer h1 {
    font-size: 48px;
    color: #6e6e6e;
}
#footer-special-word {
    color: #ff0000;
}
footer p {
    font-size: 18px;
    font-weight: 600;
    color: #6e6e6e;
    text-transform: capitalize;
    letter-spacing: 2px;
}
